body {
	/*font-family: 'Comfortaa', sans-serif;*/
	background-color: #ECF3FF;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	
	margin: 0;
	color: #001253;
}

a {
	color: #8D9EFF;
	text-decoration: none;
}

a:hover {
	color: white;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 2rem;
}


h3 {
	text-align: left;
}

p {
	line-height: 2.5rem;
} 	

hr {
	width: 4%;
	height:  0;
	background-color: none;
	border: dotted #93A0CC 6px;
	border-bottom: none;

	margin: auto;
}

/*-----------------------------------------------------------*/


.header {
	background-color: #d4e6ff;
	position: relative;
	padding-top: 40px;
	text-align: center;

	width: 100%;
	height: 775px;
}

.middle-container {
	position: relative;
	margin-top: 50px;
	text-align: center;
}

.profile {
	position: relative;
	margin: 100px auto 100px auto;
	width: 50%;
	text-align: center;
}

.aboutMe-row {
	height: auto;
	width: auto;
	text-align: justify;
}

.education {
	position: relative;
	margin: 100px auto 100px auto;
	width: 50%;
	text-align: center;
}

.education-row {
	height: auto;
	width: auto;
	text-align: justify;
}

.skills {
	position: relative;
	margin: 100px auto 100px auto;
	width: 50%;
	text-align: center;
}

.skills-row {
	height: auto;
	width: auto;
	text-align: justify;
}

.project {
	position: relative;
	margin: 100px auto 100px auto;
	width: 50%;
	text-align: center;
}

.project-row {
	height: auto;
	width: auto;
	text-align: justify;
}

.image1 {
	margin-top: 0px;
	
	height: 500px;
	width: 500px;
}

.pfp {
	border: solid;
	border-radius: 50%;
	border-width: 10px;
	border-color: #ADB6EA;

	height: 225px;
	width: 225px;
}

.education-icon {
	border: solid;
	border-radius: 50%;
	border-width: 10px;
	border-color: #8D9EFF;
	background-color: #d4e6ff;

	float: right;
	margin-left: 30px;
	margin-bottom: 30px;

	height: 225px;
	width: 225px;
}

.skills-icon {
	border: solid;
	border-radius: 50%;
	border-width: 10px;
	border-color: #8D9EFF;
	background-color: #d4e6ff;

	margin-left: 30px;
	margin-bottom: 30px;

	float: right;

	height: 225px;
	width: 225px;
}

.project-icon {
	border: solid;
	border-radius: 50%;
	border-width: 10px;
	border-color: #8D9EFF;
	background-color: #d4e6ff;

	margin-left: 30px;
	margin-bottom: 30px;

	float: right;

	height: 225px;
	width: 225px;
}

.txt1 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 3.75rem;
	font-weight: normal;
}

.txt2 {
	font-family: 'Sacramento', cursive;
	font-size: 3.75rem;
	margin-top: 10px;
	margin-bottom: 0px;
}

.coop {
	text-decoration: underline;
}

.smallerh3 {
	font-size: 18px;
}

.btn {
	background: #d4e6ff;
	background-image: -webkit-linear-gradient(top, #d4e6ff, #8D9EFF);
	background-image: -moz-linear-gradient(top, #d4e6ff, #8D9EFF);
	background-image: -ms-linear-gradient(top, #d4e6ff, #8D9EFF);
	background-image: -o-linear-gradient(top, #d4e6ff, #8D9EFF);
	background-image: linear-gradient(to bottom, #d4e6ff, #8D9EFF);
	-webkit-border-radius: 50;
	-moz-border-radius: 50;
	border-radius: 50px;
	color: #ffffff;
	font-family: 'Comfortaa', sans-serif;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #4679cc;
	background-image: -webkit-linear-gradient(top, #4679cc, #8D9EFF);
	background-image: -moz-linear-gradient(top, #4679cc, #8D9EFF);
	background-image: -ms-linear-gradient(top, #4679cc, #8D9EFF);
	background-image: -o-linear-gradient(top, #4679cc, #8D9EFF);
	background-image: linear-gradient(to bottom, #4679cc, #8D9EFF);
	text-decoration: none;
  }

 .sectionHead {
	text-align: left;
	font-family: 'Comfortaa', sans-serif;
	font-size: 2rem;
}

.contact-me {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: center;
	font-weight: normal;
}

.bottom-container {
	background-color: #d4e6ff;

	padding: 50px 0 20px;
	width: 100%;
	margin: auto;
	text-align: center;
	font-weight: normal;
}

.bottom-container {
	color: #F0F4FB;
}

.contrast-text {
	color: #8D9EFF;
}

.project-link {
	color: #001253;
}

.project-link:hover {
	color: #8D9EFF;
}

.name-highlight:hover {
	color: #8D9EFF;
	text-decoration: underline;
}
/*---------------------------------------------------*/

.nametag{
position: absolute;
}

.nametag:nth-child(1){
animation-name: fade;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate-reverse;  
}

.nametag:nth-child(2){
animation-name: fade;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}

.nametag:nth-child(3){
	animation-name: fade;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate-reverse;
	}

@keyframes fade{
    0%,45% {
    opacity: 0;
}
    100%{
    opacity: 1;
}
}